*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    position: fixed;
    left: 25%;
    border: 1px solid black;
    width: 800px;
    height: 500px;
    margin-top: 24px;
    border-radius: 10px;
}

.header{
    margin-left: 16px;
}

.menu{
    border: none;
    border-bottom: 2px solid #000;
}
.menu:first-child{
    margin-top: 8px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin: 16px 0;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    text-align: center;
}
.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    margin-top: 8px;
}